@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #ECEFF1, #f4f4f4 250px, #fff 250px, #fff);
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s; 
}

.container {
    max-width: 800px;
    margin: 40px auto; 
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; 
}

.container:hover {
    transform: scale(1.02); 
}

h1, h2 {
    color: #007BFF;
    text-transform: uppercase; 
    letter-spacing: 1.5px; 
    margin-bottom: 20px;
    border-bottom: 2px solid #007BFF; 
    padding-bottom: 10px; 
}



select, input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) inset; 
    transition: box-shadow 0.3s, transform 0.3s; 
}

select:focus, input:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15) inset, 0 2px 4px rgba(0, 0, 0, 0.1); 
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
}

#generateBtn {
    background-color: #007BFF;
    color: #fff;
}

#generateBtn:hover {
    background-color: #0056b3; 
}

#submitFeedback {
    background-color: #12f3b7;
    color: #fff;
}

#submitFeedback:hover {
    background-color: #0ee2a5; 
}

#restartButton {
    background-color: #e74c3c;
    color: #fff;
}

#restartButton:hover {
    background-color: #d43c2c; 
}

.list-group-item {
    position: relative;
    transition: background-color 0.3s; 
}

.list-group-item a {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: #007BFF; 
    font-weight: bold; 
}

.alert {
    text-align: center;
    padding: 15px;
    border-radius: 5px; 
}

#feedbackSubmittedMessage {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    padding: 12px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.recommendation-title {
    font-weight: bold; 
    color: black; 
    margin-top: 10px; 
    margin-bottom: 10px;
    font-size: 16px;  
    text-align: center; 
}
