@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
   font-family: 'Roboto', sans-serif;
   background-color: #f4f7f6;
   color: #333;
   line-height: 1.6;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   padding: 2% 0;
}


.container {
   max-width: 1200px;
   min-width: 900px;
   margin: 40px auto;
   background-color: #ffffff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s;
}


h1, h2 {
   text-align: center;
   color: #444;
   margin-bottom: 20px;
}


h1 {
   font-size: 2.5em;
   font-weight: 700;
   text-transform: uppercase;
}


h2 {
   font-size: 1.5em;
   font-weight: 400;
}


label {
   font-weight: 600;
   margin-top: 10px;
   display: block;
}


select, input, button {
   width: 100%;
   padding: 10px;
   margin: 10px 0;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) inset;
   transition: box-shadow 0.3s;
}


select:focus, input:focus {
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1) inset;
   outline: none;
}


button {
   padding: 12px 24px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
   font-weight: 600;
}


#generateBtn {
   background: linear-gradient(135deg, #007BFF, #0056b3);
   color: #fff;
}


#generateBtn:hover {
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
   transform: translateY(-5px);
}


#submitFeedback {
   background: linear-gradient(135deg, #28a745, #218838);  /* Green color for Submit Feedback */
   color: #fff;
}


#submitFeedback:hover {
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
   transform: translateY(-5px);
}


#restartButton {
   background: linear-gradient(135deg, #e74c3c, #d43c2c);
   color: #fff;
   margin-bottom: 20px;
}


.alert {
   text-align: center;
   padding: 15px;
   margin-bottom: 20px;
   border-radius: 5px;
   background-color: #f8d7da;
   color: #721c24;
}


.list-group-item {
   position: relative;
   transition: background-color 0.3s;
   border-radius: 5px;
}


.list-group-item:hover {
   background-color: #f5f5f5;
}


.list-group-item a {
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   text-decoration: none;
   color: #007BFF;
   font-weight: bold;
   padding: 5px;
   border-radius: 5px;
}


.list-group-item a:hover {
   background-color: rgba(0, 123, 255, 0.1);
}


#feedbackSubmittedMessage {
   position: fixed;
   top: 10px;
   right: 10px;
   padding: 10px 15px;
   background-color: rgba(0, 0, 0, 0.8);
   color: #fff;
   border-radius: 5px;
   animation: fadeOut 3s forwards 3s;
}


@keyframes fadeOut {
   to {
       opacity: 0;
   }
}







